@import '_variaveis';
@import '_header';
@import '_apresentacao';
@import '_sobrenos';
@import '_catalogo';
@import '_rodape';
@import '_overlay';
@import '_carrinho';
//@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    box-sizing: border-box;
}


body {
    background-color: #004AAD;
    color: #fcce00;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;       
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;

}

#scrollToTopBtn.visible {
    opacity: 1;
}


//classes feitas no JS

.remove-from-cart-btn{
    &:hover {
        cursor: pointer;
    }
}